.section {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 70px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--size-xxLarge);
}

@media screen and (max-width: 600px) {
  .section {
    flex-direction: column;
  }
}
