.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerPadding {
  z-index: 10;
  position: sticky;
  top: 0;
  transition: all 0.2s ease;
}

.headerInner {
  margin: auto;
  padding: var(--size-medium) var(--size-xxLarge);
}

.blurBg {
  backdrop-filter: saturate(180%) blur(5px);
  background: linear-gradient(
    0deg,
    rgba(22, 2, 49, 0.5) 0%,
    rgba(22, 2, 49, 0.7) 40%
  );
  box-shadow: inset 0 -1px 0 0 hsla(0, 0%, 100%, 0.1);
}

.navContainer {
  flex: 1 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navMenu {
  display: none;

  svg {
    width: var(--size-large);
    height: var(--size-large);
  }
}

.mobileMenu {
  display: none;
}

.menuList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: var(--size-medium);
  transition: opacity 0.2s ease-in-out;

  li {
    position: relative;
    font-weight: 300;
  }
}

.menuItem {
  padding: 0 var(--size-medium);
  display: inline-flex;
  align-items: center;
  gap: var(--size-small);
  color: var(--text-gray);
  transition: color 0.2s ease;
  text-decoration: none;
  cursor: pointer;
  outline: none;

  .chevronDown {
    width: var(--size-medium) !important;
    height: var(--size-medium) !important;
  }
}

.menuItem:hover {
  color: var(--color-white);
}

.menuDropdown {
  list-style-type: none;
  padding: var(--size-small) 0;
  margin: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: var(--size-large);
  background-color: var(--color-primary-background);
  width: 300px;
  margin-left: calc(0% - 150px);
  margin-top: var(--size-xLarge);
  border-radius: var(--border-radius);
}

.signInButton {
  padding: 0 var(--size-medium);
  display: inline-flex;
  align-items: center;
  gap: var(--size-small);
  color: var(--brand-accent-light);
  transition: color 0.2s ease;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  font-weight: 500;

  &:hover {
    color: var(--color-secondary-300);
  }
}

.signUpButton {
  padding: var(--size-xSmall) var(--size-medium);
  margin-left: var(--size-large);
  border: 1px solid var(--brand-accent-light);
  background-color: transparent;
  color: var(--brand-accent-light);

  &:hover {
    border-color: var(--color-secondary-300);
    background-color: var(--color-secondary-300);
    color: var(--color-primary-background);
  }
}

.headerLeft {
  justify-content: flex-start;
}

.headerRight {
  justify-content: flex-end;
}

.urlStyle {
  text-decoration: none;
}

.dropdownItem {
  display: flex;
  justify-content: flex-start;
  gap: var(--size-large);
  align-items: center;
  text-align: left;

  h4 {
    color: var(--text-gray) !important;
    font-weight: 500 !important;
    transition: color 0.2s ease;
    margin-bottom: var(--size-xxSmall) !important;
  }

  &:hover h4 {
    color: var(--color-white) !important;
  }
}

.bannerContainer {
  gap: var(--size-small);
  display: flex;
  flex: 1;
  align-items: center;

  .callToAction {
    color: #72e4fc;
    font-weight: 500;
  }
}

@media screen and (max-width: 600px) {
  .headerInner {
    padding: var(--size-medium) var(--size-large);
  }

  .navContainer {
    display: none;
  }

  .mobileHeader {
    background: var(--color-primary-background);
  }

  .navMenu {
    display: flex;
  }

  .mobileMenu {
    position: absolute;
    top: 70px;
    left: 0;
    padding: var(--size-medium) var(--size-medium) var(--size-xLarge)
      var(--size-medium);
    background-color: var(--color-primary-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: var(--size-medium);

    li {
      width: 100%;
    }

    a {
      width: 100%;
      padding-left: var(--size-medium);
    }

    .signUpButton {
      margin: 0;
    }

    .menuList {
      padding: var(--size-medium);
      flex-direction: column;
      width: 100%;
      align-items: flex-start;
      gap: var(--size-large);
    }

    .menuItemLarge {
      padding: 0;
      font-size: var(--size-large);
      text-align: left;
      display: inline-flex;
      color: var(--text-primary);
      text-decoration: none;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
    }

    .menuDropdown {
      position: relative;
      margin-top: var(--size-small);
      margin-left: 0;

      .menuItemLarge {
        padding-left: var(--size-small);
        color: var(--text-gray);
      }
    }
  }

  .headerLeft {
    display: flex;
  }
}
