.container {
  position: sticky;
  top: 0;
  transition: all 0.2s ease;
  z-index: 10;

  &.hide {
    top: -121px;
  }
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerInner {
  margin: auto;
  padding: var(--size-medium) var(--size-xxLarge);
  background-color: var(--color-primary-500);
}

.headerBorder {
  border-bottom: 1px solid var(--color-divider-on-dark);
}

.navContainer {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navMenu {
  display: none;

  svg {
    width: var(--size-large);
    height: var(--size-large);
  }
}

.mobileMenu {
  display: none;
}

.menuList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: var(--size-medium);
  transition: opacity 0.2s ease-in-out;

  li {
    position: relative;
  }
}

.menuItem {
  padding: 0 var(--size-medium);
  display: inline-flex;
  align-items: center;
  gap: var(--size-small);
  color: var(--text-gray);
  font-weight: 300;
  transition: color 0.2s ease;
  text-decoration: none;
  cursor: pointer;
  outline: none;

  .chevronDown {
    width: var(--size-medium) !important;
    height: var(--size-medium) !important;
  }
}

.menuItem:hover {
  color: var(--color-white);
}

.menuDropdown {
  list-style-type: none;
  padding: var(--size-small) 0;
  margin: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: var(--size-large);
  background-color: var(--color-primary-background);
  width: 300px;
  margin-left: calc(0% - 150px);
  margin-top: var(--size-xLarge);
  border-radius: var(--border-radius);
}

.signInButton {
  padding: 0 var(--size-medium);
  display: inline-flex;
  align-items: center;
  gap: var(--size-small);
  color: var(--brand-accent-light);
  transition: color 0.2s ease;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  font-weight: 500;

  &:hover {
    color: var(--color-secondary-300);
  }
}

.signUpButton {
  padding: var(--size-xSmall) var(--size-medium) !important;
  margin-left: var(--size-large) !important;
  border: 1px solid var(--brand-accent-light) !important;
  background-color: transparent !important;
  color: var(--brand-accent-light) !important;

  &:hover {
    border-color: var(--color-secondary-300) !important;
    background-color: var(--color-secondary-300) !important;
    color: var(--color-primary-background) !important;
  }
}

.headerLeft {
  justify-content: flex-start;
}

.headerRight {
  justify-content: flex-end;
}

.urlStyle {
  text-decoration: none;
}

.dropdownItem {
  display: flex;
  justify-content: flex-start;
  gap: var(--size-large);
  align-items: center;
  text-align: left;

  h4 {
    color: var(--text-gray) !important;
    font-weight: 500 !important;
    transition: color 0.2s ease;
    margin-bottom: var(--size-xxSmall) !important;
  }

  &:hover h4 {
    color: var(--color-white) !important;
  }
}

.bannerContainer {
  gap: var(--size-small);
  display: flex;
  flex: 1 1 auto;
  align-items: center;

  .callToAction {
    color: #72e4fc;
    font-weight: 500;
  }
}

.navPostTitle {
  font-size: 18px;
  line-height: 32px;
  color: var(--copy-on-dark);
  margin: 0 var(--size-large);
}

.loadingBar {
  height: 2px;
  width: 0;
  background-color: var(--color-selected-light);
}

@media screen and (max-width: 800px) {
  .bannerContainer {
    flex: 0;
  }

  .navPostTitle {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .headerInner {
    padding: var(--size-medium) var(--size-large);
  }

  .openHeader {
    background-color: var(--color-primary-200);
  }

  .navContainer {
    display: none;
  }

  .mobileHeader {
    background: var(--color-primary-background);
  }

  .navMenu {
    display: flex;
  }

  .mobileMenu {
    align-items: center;
    background-color: var(--color-primary-200);
    border-top: 1px solid rgb(255, 255, 255, 0.32);
    display: flex;
    flex-direction: column;
    gap: var(--size-medium);
    height: calc(100vh - 60px);
    justify-content: flex-start;
    left: 0;
    padding: var(--size-medium) var(--size-medium) var(--size-xLarge)
      var(--size-medium);
    position: absolute;
    top: 64px;
    width: 100%;

    li {
      width: 100%;
    }

    a {
      width: 100%;
      padding-left: var(--size-medium);
    }

    .signUpButton {
      margin: 0;
    }

    .menuList {
      padding: var(--size-medium);
      flex-direction: column;
      width: 100%;
      align-items: flex-start;
      gap: var(--size-xSmall);
    }

    .menuItem {
      display: block;
      color: var(--color-secondary-200);
    }

    .menuButtons {
      display: flex;
      flex-direction: column;
      gap: var(--size-xSmall);
      width: 100%;
      text-align: center;
    }

    .menuItemLarge {
      padding: 0;
      text-align: left;
      display: inline-flex;
      color: var(--text-primary);
      text-decoration: none;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
    }

    .menuDropdown {
      position: relative;
      margin-top: var(--size-small);
      margin-left: 0;

      .menuItemLarge {
        padding-left: var(--size-small);
        color: var(--text-gray);
      }
    }
  }

  .headerLeft {
    display: flex;
  }
}
