.bgPosition {
  position: absolute;
  z-index: -1;
}

.purpleDiv {
  opacity: 0.7;
  filter: blur(150px);
}

.blueDiv {
  right: 0;
  top: 150px;
  position: absolute;
  filter: blur(150px);
}

.bodyLarge {
  color: var(--text-gray);
  font-size: 22px;
}

.bodySmall {
  color: var(--text-gray);
  font-size: 18px;
}

.sectionText {
  display: flex;
  flex-direction: column;
  flex: 1 1 45%;
  padding: 0 var(--size-xLarge);
  gap: var(--size-medium);
  min-width: 550px;
}

.sectionImageRight {
  flex: 1 1 55%;
  padding-left: var(--size-xLarge);

  img {
    max-width: 100%;
    object-fit: contain;
  }
}

.sectionImageLeft {
  flex: 1 1 55%;
  padding-right: var(--size-xLarge);

  img {
    max-width: 100%;
    object-fit: contain;
  }
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--size-xLarge);
  margin-top: var(--size-xSmall);
}

.sectionSubtitle {
  color: var(--brand-accent-light);
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
  margin-bottom: var(--size-medium);
}

.anchorTitle {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
  gap: var(--size-medium);
}

.featureItem {
  border-left: var(--size-xxSmall) solid var(--text-gray);
  margin: var(--size-medium) 0;
  padding: var(--size-medium) 0 var(--size-medium) var(--size-xxLarge);
  transition: border-color 0.2s ease;

  .bodySmall {
    font-size: var(--size-medium);
  }
}

.featureItem:hover {
  border-color: var(--text-blue);
}

.callToActionBackground {
  position: relative;
  border-radius: var(--size-medium);
  width: calc(100% - var(--size-xxLarge) * 2);
  border: 2px solid rgba(146, 96, 249, 0.25);
  overflow: hidden;
  margin: auto;

  .ctaContainer {
    width: 100%;
    padding: 80px 0;
    align-items: center;
  }

  .ctaBg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;

    span {
      height: 100% !important;
    }

    img {
      object-fit: cover;
    }
  }

  .anchorSmall {
    max-width: 650px;
  }

  .tryButtonContainer {
    display: flex;
    justify-content: center;
  }
}

.customerReel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: var(--size-xxLarge) 0;
  gap: var(--size-xLarge);
  max-width: var(--max-width);
  margin: auto;
}

.companies {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  padding: 0 var(--size-xLarge);
  grid-gap: var(--size-xLarge);

  img {
    object-fit: contain;
    filter: invert(1);
    opacity: 0.5;
  }
}

.customerCopy {
  text-align: left;
}

.buttonArrow {
  margin: 0 var(--size-small);
  padding: var(--size-medium) var(--size-large);
  color: var(--text-primary);
  border-radius: var(--size-xxSmall);
  display: block;
  text-decoration: none;
  transition: all 0.2s ease;
  box-sizing: border-box;
  background-color: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  .arrow {
    color: var(--brand-accent-light);
    transition: all 0.3s ease;
    margin-left: 10px;
    margin-right: 6px;
    font-size: var(--size-large);
  }

  &:hover .arrow {
    margin-left: var(--size-medium);
    margin-right: 0;
  }
}

@media screen and (max-width: 600px) {
  .bodySmall {
    font-size: var(--size-medium);
  }

  .bodyLarge {
    font-size: var(--size-medium);
  }

  .buttonContainer {
    width: 100%;
    flex-direction: column;
    gap: var(--size-small);

    a {
      width: 100%;
      text-align: center;
    }
  }

  .sectionText,
  .sectionImageRight,
  .sectionImageLeft {
    min-width: 0;
    padding: 0;
  }

  .callToActionBackground {
    width: 100%;

    .anchorTitle {
      padding: 80px var(--size-medium);
    }
  }

  .companies {
    grid-template-columns: repeat(4, 1fr);
    padding: 0;
  }
}
