.bgPosition {
  position: absolute;
  z-index: -1;
}

.purpleDiv {
  opacity: 0.7;
  filter: blur(150px);
}

.blueDiv {
  right: 0;
  top: 150px;
  position: absolute;
  filter: blur(150px);
}

.highlightedText {
  color: var(--color-selected-light);
}

.hero {
  margin-bottom: calc(22 * var(--space-unit));
}

.heroBugLeft {
  position: absolute;
  left: -150px;
  top: 250px;
}

.heroBugRight {
  position: absolute;
  right: -50px;
  top: 50px;
}

.footerImageLeft {
  position: absolute;
  left: -150px;
  bottom: -13px;
}

.footerImageRight {
  position: absolute;
  right: -200px;
  top: 25px;
}

.obfuscation {
  position: relative;
}

.obfuscationImage {
  position: absolute;
  right: -100px;
  bottom: -80px;
}

.obfuscationHandle {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex: 1 0 auto;
  height: 40px;
  justify-content: center;
  width: 40px;
  border: 3px solid rgb(114, 228, 252);
  border-radius: 100%;
  background-color: var(--brand-accent-light);
  transform: none;

  .arrow1 {
    border-width: 6px;
    border-style: inset solid inset inset;
    border-color: rgba(0, 0, 0, 0) #0d0225 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
    border-image: initial;
    height: 0px;
    margin-left: -10px;
    margin-right: 10px;
    width: 0px;
  }

  .arrow2 {
    border-width: 6px;
    border-style: inset inset inset solid;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #0d0225;
    border-image: initial;
    height: 0px;
    margin-right: -10px;
    width: 0px;
  }
}

.secondaryBackground {
  background-color: var(--color-primary-200);
}

.bodyLarge {
  color: var(--text-primary);
  font-size: 22px;
}

.bodySmall {
  color: var(--text-primary);
  font-size: 18px;
}

.gradientText {
  background: -webkit-linear-gradient(
    135deg,
    var(--color-yellow-300),
    var(--color-yellow-600)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sectionText {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
  padding: 0px var(--size-xLarge);
  min-width: 550px;
  margin: var(--size-xLarge) 0;

  &.codeSection {
    gap: var(--size-xLarge);

    .sectionSubtitle {
      margin: 0;
    }
  }
}

.heroImage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sectionCollapse {
  margin-top: var(--size-large);

  .collapseHeader {
    display: flex;
    align-items: center;
    gap: var(--size-medium);
  }

  .sectionBody {
    padding-left: calc(9.5 * var(--space-unit));
  }
}

.sectionInfo {
  display: flex;
  flex-direction: column;
  padding: var(--size-medium) 0;
  border-bottom: 2px solid var(--color-white);
  cursor: pointer;
}

.sectionImageRight {
  flex: 1 1 50%;
  padding-right: var(--size-xLarge);
  margin: var(--size-xxLarge) 0;

  span {
    height: 100% !important;
  }

  img {
    max-width: 100%;
    object-fit: contain;
  }
}

.sectionImageLeft {
  flex: 1 1 50%;
  padding-left: var(--size-xLarge);
  margin: var(--size-xLarge) 0;

  span {
    height: 100% !important;
  }
  img {
    max-width: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);
  }
}

.imageInner {
  width: 100%;

  span {
    width: 100% !important;
    height: 100% !important;
    display: block !important;
  }
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--size-xLarge);
  margin-top: var(--size-xSmall);
}

.sectionSubtitle {
  color: var(--color-selected-light);
  text-transform: uppercase;
  margin-bottom: var(--size-large);
}

.anchorTitle {
  max-width: 840px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.anchorFeature {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 0 var(--size-xxLarge);

  .sectionSubtitle {
    margin-bottom: var(--size-xLarge);
  }

  .buttonContainer {
    margin: var(--size-xxxLarge) 0 calc(22 * var(--space-unit));
  }

  h1,
  h2 {
    margin-bottom: calc(10 * var(--space-unit)) !important;
  }

  .anchorHead {
    max-width: 840px;
  }

  .anchorTitle {
    max-width: 740px;
  }

  .anchorImage {
    position: relative;
    width: 100%;
    height: 40vw;
    max-height: 720px;

    img {
      border-radius: var(--border-radius);
      overflow: hidden;
    }
  }

  .secondaryAnchor {
    h2 {
      margin: calc(18 * var(--space-unit)) 0 !important;
    }
  }
}

.reviewCard {
  width: 500px;
  background: var(--color-white);
  border-radius: var(--size-medium);
  padding: var(--size-large);
  margin: var(--size-medium) var(--size-medium) 100px;

  .author {
    display: flex;
    align-items: center;
    gap: var(--size-medium);
  }

  .authorImage {
    height: var(--size-xxLarge);
    width: var(--size-xxLarge);
  }

  .companyLogo {
    height: var(--size-xxLarge);
    width: 120px;
    position: relative;
    text-align: left;
  }

  p,
  div {
    color: var(--text-primary-inverted);
  }
}

$animationSpeed: 40s;

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-532px * 7));
  }
}

.slider {
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;

  .slideTrack {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    width: calc(532px * 14);

    &:hover {
      animation-play-state: paused;
    }
  }
}

.featureContainer {
  display: flex;
  gap: var(--size-medium);
  margin-top: var(--size-xLarge);
}

.featureItem {
  margin: 0;
  padding: var(--size-xSmall) 0;
  display: flex;
  flex-direction: column;
  gap: var(--size-xSmall);
  max-width: 300px;
}

.snippetTabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--size-small);
  padding: var(--size-xxLarge) 0 0;

  .snippetTab {
    width: 200px;
    text-align: center;
    margin-bottom: calc(-1 * var(--size-small));
    padding: var(--size-large) var(--size-xLarge) var(--size-medium);
    border-radius: var(--border-radius) var(--border-radius) 0 0;

    &:hover {
      cursor: pointer;
    }

    &.tabSelected {
      z-index: 5;
      background-color: var(--color-primary-background);
      position: relative;
    }
  }
}

.snippetContent {
  padding: var(--size-xxLarge) 0;
}

.callToActionBackground {
  position: relative;
  width: 100%;
  background-color: var(--color-primary-200);
  overflow: hidden;
  margin: auto auto var(--size-xLarge);

  .ctaContainer {
    width: 100%;
    padding: calc(32 * var(--space-unit)) 0;
    align-items: center;
    position: relative;

    h2 {
      margin-bottom: var(--size-xxxLarge) !important;
    }

    .sectionSubtitle {
      margin-bottom: var(--size-xLarge) !important;
    }
  }

  .ctaBg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;

    span {
      height: 100% !important;
    }

    img {
      object-fit: cover;
    }
  }

  .anchorSmall {
    max-width: 650px;
  }

  .tryButtonContainer {
    display: flex;
    justify-content: center;
  }
}

.customerReel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: var(--size-xLarge) 0;
  gap: var(--size-xLarge);
  max-width: var(--max-width);
  margin: auto;
}

.companies {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 0 var(--size-xLarge);
  grid-gap: var(--size-xLarge);

  .scaleHeight {
    max-height: 25px !important;
    min-height: 25px !important;
  }

  img {
    object-fit: contain;
    filter: invert(1);
  }
}

.customerCopy {
  text-align: center;
}

.buttonArrow {
  margin: 0 var(--size-small);
  padding: var(--size-medium) var(--size-large);
  color: var(--text-primary);
  border-radius: var(--size-xxSmall);
  display: block;
  text-decoration: none;
  transition: all 0.2s ease;
  box-sizing: border-box;
  background-color: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  .arrow {
    color: var(--brand-accent-light);
    transition: all 0.3s ease;
    margin-left: 10px;
    margin-right: 6px;
    font-size: var(--size-large);
  }

  &:hover .arrow {
    margin-left: var(--size-medium);
    margin-right: 0;
  }
}

.hideMobile {
  display: block;
}

.mobile {
  display: none;
}

@media screen and (max-width: 600px) {
  .mobile {
    display: block;
  }

  .hideMobile {
    display: none;
  }

  .bodySmall {
    font-size: var(--size-medium);
  }

  .bodyLarge {
    font-size: var(--size-medium);
  }

  .buttonContainer {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--size-small);

    a {
      text-align: left;
    }
  }

  .tryButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      width: 100%;
      text-align: center;
    }
  }

  .sectionText,
  .sectionImageRight,
  .sectionImageLeft {
    min-width: 0;
    padding: 0;
    margin: 0;
  }

  .callToActionBackground {
    width: 100%;

    .anchorTitle {
      padding: 80px var(--size-medium);
    }
  }

  .companies {
    grid-template-columns: repeat(4, 1fr);
    padding: 0;
  }

  .buttonArrow {
    .arrow {
      font-size: var(--size-medium);
    }
  }

  .anchorFeature {
    padding: 0;
    div {
      text-align: left;
    }
    .anchorImage {
      height: 60vw;
      width: calc(100vw + 100px);
      margin: 0 -50px;
    }
  }
}
