.blogContainer {
  margin: var(--size-xxLarge) auto;
  max-width: var(--max-width);
}

.blogPost {
  margin: var(--size-large) auto;
  padding: var(--size-small) var(--size-xLarge);
  display: flex;
  align-items: stretch;
  gap: var(--size-xxLarge);
}

.cardSection {
  flex: 1 1 50%;

  .bodyText {
    margin: var(--size-medium) 0 !important;
  }
}

.cardImage {
  position: relative;
  width: 100%;
  height: 100%;
}

.avatar {
  display: flex;
  align-items: center;
  border-radius: 50px;
  overflow: hidden;
}

.authorName {
  color: var(--color-white) !important;
}

.authorDiv {
  display: flex;
  align-items: center;
  gap: var(--size-small);

  p {
    color: var(--text-gray);
    margin: var(--size-xxSmall) 0 !important;
  }
}

.postDiv {
  text-align: left;
}

.mainImage {
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  min-height: 400px;
}

.tagDiv {
  display: flex;
  flex-direction: row;
  gap: var(--size-small);

  div {
    padding: var(--size-xSmall) var(--size-small);
    background: var(--color-gray-400);
    color: var(--color-black);
    border-radius: var(--size-xLarge);
  }
}

.postBody {
  width: 100%;

  pre {
    overflow: auto;
  }

  h4 {
    font-size: var(--size-large);
  }

  p,
  li {
    font-size: var(--size-medium);
    line-height: 1.5rem !important;
    color: var(--text-gray);

    img {
      width: 100%;
    }
  }

  a {
    color: var(--text-gray);
  }

  a:hover {
    color: var(--brand-accent-light);
  }
}

@media screen and (max-width: 600px) {
  .blogContainer {
    padding: 0;
  }

  .blogPost {
    padding: var(--size-large) 0;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--size-large);
  }

  .cardSection {
    width: 100%;
  }

  .cardImage {
    min-height: 200px !important;
  }

  .mainImage {
    min-height: 200px;
  }
}
