.loadingBar {
  height: 2px;
  width: 0;
  background-color: var(--color-selected-light);
  transition: all 10s ease-in-out;
}

.loaded {
  width: 100%;
}

.blogContainer {
  margin: var(--size-xxLarge) auto;
  max-width: var(--max-width);

  hr {
    margin-top: var(--size-xxLarge);
    color: #30294e;
    border: 0.5px solid #30294e;
  }
}

.tagContainer {
  margin: calc(20 * var(--space-unit)) auto calc(4 * var(--space-unit));
  max-width: var(--max-width);
}

.tagHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.blogPost {
  margin: var(--size-large) auto;
  padding: var(--size-small) var(--size-medium);
  display: flex;
  align-items: stretch;
  gap: var(--size-xxLarge);
}

.blogPostSmall {
  margin: var(--size-large) auto;
  padding: var(--size-small) var(--size-medium);
  display: inline-flex;
  width: 33%;
  flex-direction: column;
  gap: var(--size-medium);

  .cardImage {
    min-height: 200px;
  }

  span {
    color: var(--color-white);
    margin: 0;
  }
}

.cardSection {
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: var(--size-medium);

  .bodyText {
    margin: var(--size-medium) 0 !important;
  }
}

.cardImage {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius);
  overflow: hidden;
  min-height: 300px;
}

.avatar {
  display: flex;
  align-items: center;
  border-radius: 50px;
  overflow: hidden;
  border: 3px solid var(--color-white);
}

.authorDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-small);

  p {
    color: var(--color-copy-on-dark);
    margin: var(--size-xxSmall) 0 !important;
  }
}

.mainImage {
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  min-height: 400px;
}

.tagDiv {
  display: flex;
  flex-direction: row;
  gap: var(--size-small);
  margin-top: var(--size-xSmall);
  flex-wrap: wrap;

  div {
    background: rgba(255, 255, 255, 0.12);
    border-radius: var(--size-xLarge);
    padding: var(--size-xxSmall) var(--size-medium);
    color: var(--color-copy-on-dark);
    cursor: pointer;
  }

  .selectedTag {
    border: 1px solid var(--color-selected-light);
    color: var(--color-selected-light);
  }
}

.dateDiv {
  color: var(--copy-on-dark);
}

.postTagDiv {
  margin: var(--size-large) 0 var(--size-xxLarge);
  justify-content: center;
}

.suggestedPostDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.suggestedPost {
  padding: var(--size-xSmall) var(--size-small);
  color: var(--color-gray-400);
  border-radius: var(--size-small);
  cursor: pointer;
  max-width: 300px;
}

.postBody {
  text-align: left;
  width: 100%;

  .codeBlock {
    & > span {
      background-color: transparent !important;
      padding: var(--size-large);
      border: 1px solid #30294e;
      border-radius: var(--border-radius) !important;
    }
  }

  .postHeader {
    margin-top: var(--size-xxLarge);
    margin-bottom: var(--size-medium);
  }

  pre {
    overflow: auto;
  }

  h4 {
    font-size: var(--size-large);
  }

  p,
  li {
    font-size: var(--size-medium);
    line-height: var(--size-xLarge) !important;
    color: var(--copy-on-dark);

    img {
      width: 100%;
    }
  }

  a {
    color: var(--color-secondary-200);
    font-weight: 600;
    text-decoration: none;
  }
}
@media screen and (max-width: 800px) {
  .blogPostSmall {
    width: 50%;
    margin: 0 0 100px;
  }

  .blogPost {
    padding: var(--size-large) var(--size-medium);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--size-large);
  }

  .cardSection {
    width: 100%;
  }

  .mainImage {
    min-height: 300px;
  }

  .tagHeader {
    flex-direction: column;
    gap: var(--size-xLarge);
  }

  .blogContainer {
    padding: 0;
    margin-top: 0;

    h4 {
      margin-left: var(--size-medium) !important;
      margin-top: 100px !important;
    }
  }
}

@media screen and (max-width: 600px) {
  .blogContainer {
    padding: 0;
  }

  .tagContainer {
    padding: 0 var(--size-medium);
  }

  .cardImage {
    min-height: 200px !important;
  }

  .blogPostSmall {
    width: 100%;
    margin: 0 0 var(--size-xxLarge);
  }
}
