.mainWrapper {
  display: flex;
  border-top: 1px var(--color-divider-on-dark) solid;
}

.leftSection {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: var(--size-large) var(--size-large);
  position: sticky;
  height: 100vh;
  top: 0;
}

.tocIcon {
  width: var(--size-large) !important;
  height: var(--size-large) !important;
  transition: color 0.2s ease;
}

.tocRow {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.tocItem a {
  color: var(--copy-on-dark) !important;
  font-weight: 400;
}

.tocItemOpen a {
  color: var(--brand-accent-light) !important;
  font-weight: 500;
}

.tocItemCurrent a {
  color: var(--color-selected-light) !important;
  font-weight: 500;
}

.tocRow:hover .tocIcon {
  color: var(--brand-accent);
}

.tocChildren {
  display: flex;
  flex-direction: row;
}

.tocChildrenLineWrapper {
  width: var(--size-large);
  align-items: center;
  justify-content: center;
  display: flex;
}

.tocChildrenLine {
  background-color: var(--brand-accent-light);
  opacity: 30%;
  width: 2px;
  height: 100%;
}

.tocChildrenContent {
  display: flex;
  flex-direction: column;
}

.inlineCodeBlock {
  border-radius: var(--space-unit);
  background-color: var(--color-pseudo-black);
  padding: 2px 6px;
  border: 1px var(--color-divider-on-dark) solid;
  color: var(--copy-on-dark);
  font-size: 14.5px;
}

.codeBlock {
  margin-top: var(--size-medium);
  margin-bottom: var(--size-medium);
  > span {
    background-color: transparent !important;
    padding: var(--size-large);
    border: 1px solid var(--color-divider-on-dark);
    border-radius: var(--border-radius) !important;
    white-space: pre-wrap !important;

    @media screen and (max-width: 600px) {
      font-size: 14px !important;
    }
  }
}

.centerSection {
  display: flex;
  flex-direction: column;
  width: 850px;
  padding: var(--size-4xLarge);
  border-right: 1px var(--color-divider-on-dark) solid;
  border-left: 1px var(--color-divider-on-dark) solid;
}

.rightSection {
  display: flex;
  flex-direction: column;
}

.headingSection {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.docsText {
  color: yellow !important;
}

.docLink {
  color: var(--color-gray-400);
  cursor: pointer;
  transition: color 0.2s ease;
}

.docLink:hover {
  color: var(--color-white);
}
