.mobilePopup {
	background-color: #6c37f4;
	height: 54px;
	display: flex;
	width: auto;
	align-items: center;
	justify-content: center;
	gap: 14px;
	border-radius: 0px;
	padding: 0 24px 0 24px;
	width: 100vw;
}

.desktopPopup {
	background-color: #6c37f4;
	height: 54px;
	display: flex;
	align-items: center;
	gap: 14px;
	padding: 0 24px 0 24px;
	border: 3px solid #0d0225;
	border-radius: 35px;
}
